.navbar{
    background-color:rgb(7, 6, 14);
}

.navbar-brand {
    position: relative;
    left: 10px;
    display: inline;
    color: khaki;
    text-decoration: none;
    text-shadow: 0 3px 3px rgba(140, 133, 238, 0.76);
    font-size: 35px;
    font-style: italic;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: ;
}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
}

.nav-link {
    font-size: 20px;
    color: rgb(253, 253, 253);
}
.nav-link:hover{
    color: rgb(231, 214, 61);
}

h2,h1{
  font-style: italic;
  font-family:  "Courier New", monospace;
}
.card{
  width: 50%;
  background-color: rgb(52, 27, 189);
}

.items {
    width: 100%;
    margin: 0px auto;
    margin-top: 100px
}

.slick-slide {
    margin: 10px
}

.slick-slide img {
    width: 200px;
    border: 0px solid rgb(193, 171, 245);
    
}
.logo {
  float: left;
  width: auto;
  height: 70px;
  font-family: 'Lucida Sans';

}



.footer {
  background-color: rgb(16, 16, 27);
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.flexbox-item {
  margin: 10px;
  width: 325px;
  }
  .flexbox-item-1{
      text-align: left;
      margin-left: 25px;
      color: cyan;
      min-height: 100px;
  }
  .flexbox-item-2{
      text-align: left;
      min-height:100px;
      margin-left: 20px;
      color: cyan;
  }
  .flexbox-item-3{
      text-align: left;
      margin-left: 25px;
      color: cyan;
      min-height: 100px;
  }
  .d {
    list-style-type: none;
    color: orange;
    margin-left: 25px;
}

.d a {
    text-decoration: none;
    color:orange;
}
