<footer class="footer-container">
    <section class="footer footer_1its">
        <div class="flexbox-item flexbox-item-1">
            <div>
                <h3 class="text-center">B&K Trademart</h3>
            </div>
            <div>

                <p class="d"><span class="fa fa-phone fa-lg"></span>&nbsp; (+91)789 447 0005</p>
                <p class="d"><span class=" fas fa-map-marker-alt fa-lg"></span>&nbsp;&nbsp; NH6, Hirakud railway
                    station, Sambalpur ,Odisha, India</p>
                <p class="d"><a href="info@bandk.co.in"><span
                            class="fas fa-envelope-square fa-lg "></span>&nbsp;&nbsp;info@bandk.co.in</a></p>
            </div>
        </div>
        <div class="flexbox-item flexbox-item-2">
            <div>
                <h3 class="text-center">B&K Trademart</h3>
            </div>
            <div>
                <p class="d">With growing environmental concerns,
                    we believe that electric mobility is the solution.
                    For a future that is sustainable, clean and safe,
                    we're bringing eco-friendly vehicles that move the needle for you.
                    Our models are light, stylish and hassle-free.</p>
            </div>
        </div>
        <div class="flexbox-item flexbox-item-3">
            <div>
                <h3 class="text-center">Quick Links</h3>
            </div>
            <div>
                <ul class=" links">
                    <li class="d"><a href="/">&nbsp;&nbsp;<span class="fa fa-home fa-lg"></span>&nbsp;Home </a></li>
                    <li class="d"><a href="/about">&nbsp;&nbsp;<span class="fa fa-info fa-lg"></span>&nbsp;&nbsp;&nbsp;About Us</a></li>
                    <li class="d"><a href="/product">&nbsp;&nbsp;<span class="fa fa-archive fa-lg"></span>&nbsp;Products</a></li>
                    <li class="d"><a href="/contact">&nbsp;&nbsp;<span class="fa fa-address-card fa-lg"></span>&nbsp;Contacts </a>
                    </li>
                </ul>
            </div>
        </div>

    </section>
    <div class="cpy-right text-center text-white ">
        <p class="C">© 2020 B & K Trademart. All rights reserved | Design by
        </p>

    </div>
</footer>