<%- include('../includes/head.ejs') %>
<link rel="stylesheet" type="text/css" href="css/Product.css">
</head>
<body class="bg-dark">
    <div class = "A">
    <%- include('../includes/navbar.ejs') %>
    <br><br><br><br><br>
    <!-- //main content -->
    <h1> Our Products </h1>
<h4 style="color:bisque">Made in India with love for Earth</h4>
<br><br>
<div class="row">
  <div class="column">
    <div class="card text-dark ">
      <img src="Shared/img/about/1.jpg" class="img" alt="">

      <h4 style="color: goldenrod;">EeVe Wind</h4>
      
      <p style="color: goldenrod;">Motor 250 Watt Battery 60V 27AH Lead Acid Range /Autonomy 50 to 60 KM Tyre Size & Type 90/100-10 Tubeless Brakes Front Disc, Rear Drum Wheelbase 1315 mm Payload 140 KG L * W * H 1795 * 680 * 1070 mm Charging
      Time (hour) 7 to 8 Hours Frame Tubular frame</p>
      
      </div>
    </div>
    <div class="column">
      <div class="card text-dark">
      <img src="Shared/img/about/2.jpg" class="img" alt="">
      <h4 style="color: goldenrod;">EeVe Flagship Xeniaa</h4>
      
      <p style="color: goldenrod;">  Xeniaa means friendship in Greek. We've put most of our design & development hours into making our first vehicle a masterpiece which would be your ture companion now & in generations to come. It is the First Born and Flagship of EeVe and has Full LED illumination .</p>
      </div>
      
    </div>
    <div class="column">
      <div class="card text-dark">
          <img  src="Shared/img/about/3.jpg" class="img" alt="">
          <h4 style="color: goldenrod;">EeVe 4U</h4>
          <p style="color: goldenrod;">Motor 250 Watt Bosch Motor Battery 60V 20AH Li-Ion Range/Autonomy 60 to 70 KM Tyre Size & Type 90/100-10 Tubeless Brakes Dual Disc Wheelbase 1270 mm Payload 140 KG L * W * H 1760 * 700 * 1100 mm Charging
              Time (hour) 3 to 4 Hours Frame Tubular frame</p>
      </div>
    </div>
    <div class="column">
      <div class="card text-dark">
          <img  src="Shared/img/about/4.jpg" class="img" alt="">
          <h4 style="color: goldenrod;">EeVe Your</h4>
          <p style="color: goldenrod;">Motor 250 Watt Battery 60V 27AH Lead Acid Range /Autonomy 50 to 60 KM Tyre Size & Type 90/100-10 Tubeless Brakes Front Disc, Rear Drum Wheelbase 1325 mm Payload 140 KG L * W * H 1800 * 657 * 1095 mm Charging
              Time (hour) 7 to 8 Hours Frame Tubular frame</p>
      </div>
    </div>
  </div>
  <br>
  <h1>WHAT WE SERVE</h1>
  <h4 style="color:bisque">B&K Trademart provide you the best service in all catagories</h4><br>
  
  <div class="card-deck">
      <div class="card text-dark ">
        <div class="card-body text-center">
         <h4 style="color: goldenrod;"> <p class="card-text">Electric Scooty</p></h4>
        </div>
        
      </div>
      
      <div class="card text-dark ">
        <div class="card-body text-center">
         <h4 style="color: goldenrod;"> <p class="card-text">Servicing</p></h4>
        </div>
      </div>
      <div class="card text-dark">
        <div class="card-body text-center">
          <h4 style="color: goldenrod;"><p class="card-text">Maintenance</p>
          </div></h4>
        </div>
      </div>
</div>

<button onclick="topFunction()" id="myBtn" title="Go to top"><span class="fa fa-angle-up  " aria-hidden="true"></span></button>

    <br><br><%- include('../includes/footer.ejs') %>

    <script>
      //Get the button
      var mybutton = document.getElementById("myBtn");
      
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function() {scrollFunction()};
      
      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          mybutton.style.display = "block";
        } else {
          mybutton.style.display = "none";
        }
      }
      
      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
      </script>
      
    </body>
    </html>
