.B{
    background-color:rgb(212, 202, 111);
} 


.card-img {
    height: 10em;
    width: auto;
}

.logo {
    float: left;
    width: auto;
    height: 70px;
    font-family: 'Lucida Sans';

}
.navbar{
    background-color:rgb(7, 6, 14);
}

.navbar-brand {
    position: relative;
    left: 10px;
    display: inline;
    color: khaki;
    text-decoration: none;
    text-shadow: 0 3px 3px rgba(157, 154, 199, 0.76);
    font-size: 35px;
    font-style: italic;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
  }
  .navbar-brand:hover{
    transform: scale(1.,1.);
    transition-duration: 0.1s;
    color: rgb(167, 199, 204);
  }

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
}

.nav-link {
    font-size: 20px;
    color: rgb(253, 253, 253);
}
.nav-link:hover{
    color: rgb(231, 214, 61);
}

.d {
    list-style-type: none;
    color: orange;
    margin-left: 50px;
}

.d a {
    text-decoration: none;
    color:orange;
}

.card {
    position: relative;
    top: 200px;
    width: 350px;
    height: 250px;
    left: 200px;
    border-radius: 15px;
}

.card-img {
    border-radius: 15px;
    width: 330px;
    height: 230px;
}

.C {
    background-color: rgb(16, 16, 27);
}
.card1{
    background: url(header.jpg)no-repeat 0px 0px;
    background-size: 1400px 400px;
    min-height:200px;
    width:100%;
    opacity: 0.7;
    
}
.col-md-3 img{
    height: 30px;
    width: auto;
     
}
.col-md-3 img:hover{
    scale: 10px;
     
}
.border{
    padding: 10px;
    background-color: rgb(231, 230, 228);

}
.map{
    position: relative;
    top: 50px;
    margin: 10px;

}
.image-fluid:hover{
    transform: scale(1.4,1.4);
    transition-duration: 0.2s;
}
  .footer{
  background-color: rgb(16, 16, 27);
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.flexbox-item {
  margin: 10px;
  width: 325px;
  }
  .flexbox-item-1{
      text-align: left;
      margin-left: 25px;
      color: cyan;
      min-height: 100px;
  }
  .flexbox-item-2{
      text-align: left;
      min-height:100px;
      margin-left: 20px;
      color: cyan;
  }
  .flexbox-item-3{
      text-align: left;
      margin-left: 25px;
      color: cyan;
      min-height: 100px;
  }
.F:hover{
    transform: scale(1.4,1.4);
    transition-duration: 0.2s;
    color: brown;
     
}
