.banner-content {

    background: url(./../../Shared/img/header-bg.jpg)no-repeat 0px 0px;
    -ms-background-size: cover;
    background-size: cover;
    min-height: 30em;
    max-width: 100%;

}

.card-img {
    height: 10em;
    width: auto;
}

.logo {
    float: left;
    width: auto;
    height: 70px;
    font-family: 'Lucida Sans';
    

}
.B{
    background-color:khaki;
}

.navbar{
    background-color:rgb(7, 6, 14);
}


.navbar-collapse {
    display: flex;
    justify-content: flex-end;
}
.navbar-brand {
    position: relative;
    left: 10px;
    display: inline;
    color: khaki;
    text-decoration: none;
    text-shadow: 0 3px 3px rgba(140, 133, 238, 0.76);
    font-size: 50px;
    font-style: italic;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.nav-link {
    font-size: 20px;
    color: rgb(253, 253, 253);
}
.nav-link:hover{
    color: rgb(231, 214, 61);
}

.footer {
    background-color: rgb(16, 16, 27);
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.flexbox-item {
margin: 10px;
width: 325px;
}
.flexbox-item-1{
    text-align: left;
    margin-left: 25px;
    color: cyan;
    min-height: 100px;
}
.flexbox-item-2{
    text-align: left;
    min-height:100px;
    margin-left: 20px;
    color: cyan;
}
.flexbox-item-3{
    text-align: left;
    margin-left: 25px;
    color: cyan;
    min-height: 100px;
}

.d {
    list-style-type: none;
    color: orange;
    margin-left: 25px;
}

.d a {
    text-decoration: none;
    color:orange;
}
.card {
    position: relative;
    top: 40px;
    width: 500px;
    height: 410px;
    left: 125px;
    border-radius: 15px;
}

.C {
    background-color: rgb(16, 16, 27);
}
.card1{
    background: linear-gradient(to top ,black,rgb(238, 250, 250));
   background-size: 1400px 400px;
   min-height:200px;
   width:100%;
   opacity: 0.7;
}
.t{
   font-size:xx-large;
   margin: 10px;
   color: black;
   
}
.carousel-item{
    height: 500px;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size:cover ;
    background-size: cover;
}

    
.S{
    color: black;
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}
.L{
    color: black;
}


    
