.banner-content {

    background: url(./../img/header-bg.jpg)no-repeat 0px 0px;
    -ms-background-size: cover;
    background-size: cover;
    min-height: 30em;
    max-width: 100%;

}

.card-img {
    height: 10em;
    width: auto;
}

.logo {
    float: left;
    width: auto;
    height: 70px;
    font-family: 'Lucida Sans';
    

}
.B{
    background-color:khaki;
}

.navbar{
    background-color:rgb(7, 6, 14);
}


.navbar-collapse {
    display: flex;
    justify-content: flex-end;
}
.navbar-brand {
    position: relative;
    left: 10px;
    display: inline;
    color: khaki;
    text-decoration: none;
    text-shadow: 0 3px 3px rgba(157, 154, 199, 0.76);
    font-size: 35px;
    font-style: italic;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.navbar-brand:hover{
    transform: scale(1.,1.);
    transition-duration: 0.1s;
    color: rgb(167, 199, 204);
}
.nav-link {
    font-size: 20px;
    color: rgb(253, 253, 253);
}
.nav-link:hover{
    color: rgb(231, 214, 61);
}
.navbar-toggler-icon{

    color: darkgray;
}
.navbar-toggler{
    background-color: darkgray;
}

.footer {
    background-color: rgb(16, 16, 27);
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.flexbox-item {
margin: 10px;
width: 325px;
}
.flexbox-item-1{
    text-align: left;
    margin-left: 25px;
    color: cyan;
    min-height: 100px;
}
.flexbox-item-2{
    text-align: left;
    min-height:100px;
    margin-left: 20px;
    color: cyan;
}
.flexbox-item-3{
    text-align: left;
    margin-left: 25px;
    color: cyan;
    min-height: 100px;
}

.d {
    list-style-type: none;
    color: orange;
    margin-left: 25px;
}

.d a {
    text-decoration: none;
    color:orange;
}
.card {
    position: relative;
    top: 40px;
    width: 500px;
    height: 410px;
    left: 125px;
    border-radius: 15px;
}


.C {
    background-color: rgb(16, 16, 27);
}
.card1{
    background: linear-gradient(to top ,black,rgb(238, 250, 250));
   background-size: 1400px 400px;
   min-height:200px;
   width:100%;
   opacity: 0.7;
}
.t{
   font-size:xx-large;
   margin: 10px;
   color: black;
   
}
.carousel-item{
    height: 500px;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size:cover ;
    background-size: cover;
}

    
.S{
    color: black;
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}
.L{
    color: black;
}
.card-body{

    height: 20px;
    width: auto;
}
body {
	background: linear-gradient(to bottom ,rgb(39, 36, 36),rgb(134, 86, 143));
	font-family: 'Roboto', sans-serif;
}
.form-control {
	font-size: 16px;
	transition: all 0.4s;
	box-shadow: none;
}
.form-control:focus {
	border-color: #5cb85c;
}
.form-control, .btn {
	border-radius: 50px;
	outline: none !important;
}
.login-form {
	width: 480px;
	margin: 0 auto;
    padding: 30px 0;
    position: relative;
    top: 70px;
}
.login-form form {
	border-radius: 5px;
	margin-bottom: 20px;
	background: rgb(214, 201, 201);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 40px;
}
.login-form a {
	color: #5cb85c;
}    
.login-form h2 {
	text-align: center;
	font-size: 34px;
	margin: 10px 0 15px;
}
.login-form .hint-text {
	color: #999;
	text-align: center;
	margin-bottom: 20px;
}
.login-form .form-group {
	margin-bottom: 20px;
}
.login-form .btn {        
	font-size: 18px;
	line-height: 26px;
	font-weight: bold;
	text-align: center;
}
.login-btn {
	text-align: center;
	border-color: #5cb85c;
	transition: all 0.4s;
}
.login-btn:hover {
	background: #5cb85c;
	opacity: 0.8;
}




