h2,h1{
  font-style: italic;
  font-family:  "Courier New", monospace;
}
.card{
  width: 50%;
  background-color: rgb(52, 27, 189);
  margin-right: 10px;
  padding-top: 20px;
}
.card-columns{
  margin-right: 50px;
  position: relative;
}
.items {
    width: 100%;
    margin: 0px auto;
    margin-top: 100px
}

.slick-slide {
    margin: 10px
}

.slick-slide img {
    width: 200px;
    border: 0px solid rgb(193, 171, 245);
    
}
.logo {
  float: left;
  width: auto;
  height: 70px;
  font-family: 'Lucida Sans';

}

.navbar-brand {
  position: relative;
  left: 10px;
  display: inline;
  color: khaki;
  text-decoration: none;
  text-shadow: 0 3px 3px rgba(157, 154, 199, 0.76);
  font-size: 35px;
  font-style: italic;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.navbar-brand:hover{
  transform: scale(1.,1.);
  transition-duration: 0.1s;
  color: rgb(167, 199, 204);
}
.navbar{
  background-color:rgb(7, 6, 14);
}
.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}
.nav-link {
  font-size: 20px;
  color: rgb(253, 253, 253);
}
.nav-link:hover{
  color: rgb(231, 214, 61);
}

.footer {
  background-color: rgb(16, 16, 27);
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.flexbox-item {
margin: 10px;
width: 325px;
}
.flexbox-item-1{
  text-align: left;
  margin-left: 25px;
  color: cyan;
  min-height: 100px;
}
.flexbox-item-2{
  text-align: left;
  min-height:100px;
  margin-left: 20px;
  color: cyan;
}
.flexbox-item-3{
  text-align: left;
  margin-left: 25px;
  color: cyan;
  min-height: 100px;
}

.d {
  list-style-type: none;
  color: orange;
  margin-left: 25px;
}

.d a {
  text-decoration: none;
  color:orange;
}
.C {
  background-color: rgb(16, 16, 27);
}
.mimg{
  height: 200px;
  width: 200px;
}
.vimg{
  height: 250px;
  width: 250px;
  margin-left: 10px;
}
