h2,h1{
    font-style: italic;
    font-family:  "Courier New", monospace;
  }
  .card{
    width: 40%;
    background-color: rgb(220, 217, 236);
    margin-right: 10px;
    border-radius: 10px;
  }
  .card-columns{
    margin-right: 50px;
    position: relative;
  }
  .card img:hover{
    transform: scale(1.1);
  }
  .items {
      width: 100%;
      margin: 0px auto;
      margin-top: 100px
  }
  
  .slick-slide {
      margin: 10px
  }
  
  .slick-slide img {
      width: 200px;
      border: 0px solid rgb(193, 171, 245);
      
  }
  .navbar{
    background-color:rgb(7, 6, 14);
}
.logo {
  float: left;
  width: auto;
  height: 70px;
  font-family: 'Lucida Sans';
  

}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
}
.navbar-brand {
    position: relative;
    left: 10px;
    display: inline;
    color: khaki;
    text-decoration: none;
    text-shadow: 0 3px 3px rgba(157, 154, 199, 0.76);
    font-size: 35px;
    font-style: italic;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.navbar-brand:hover{
    transform: scale(1.,1.);
    transition-duration: 0.1s;
    color: rgb(167, 199, 204);
}
.nav-link {
    font-size: 20px;
    color: rgb(253, 253, 253);
}
.navbar-nav .nav-link {
    font-size: 20px;
    color: rgb(253, 253, 253) !important;
}
.nav-link:hover{
    color: rgb(83, 83, 78);
}

.footer {
    background-color: rgb(16, 16, 27);
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.flexbox-item {
margin: 10px;
width: 325px;
}
.flexbox-item-1{
    text-align: left;
    margin-left: 25px;
    color: cyan;
    min-height: 100px;
}
.flexbox-item-2{
    text-align: left;
    min-height:100px;
    margin-left: 20px;
    color: cyan;
}
.flexbox-item-3{
    text-align: left;
    margin-left: 25px;
    color: cyan;
    min-height: 100px;
}

.d {
    list-style-type: none;
    color: orange;
    margin-left: 25px;
}

.d a {
    text-decoration: none;
    color:orange;
}
  .C {
    background-color: rgb(16, 16, 27);
  }
  
  html,
  body {
      background-color: #039BE5
  }
  
  .items {
      width: 90%;
      margin: 0px auto;
      margin-top: 100px
  }
  
  .slick-slide {
      margin: 10px
  }
  
  .slick-slide img {
      width: 100%;
      border: 0px solid #fff
  }
  
  .carousel {
      background: #a80667; 
    }
 .carousel .carousel-item {
        height: 300px; 
    }
.carousel .carousel-item img {
          position: absolute;
          top: 0;
          left: 0;
          min-height: 300px;
      width: 300px; 
    }
.media ul {
        list-style-type: none; 
        padding: 0; 
        margin: 0; 

      }
      
.media ul li {
        border: 1px solid #ddd; 
        margin-top: -1px; 
        background-color: #f6f6f6; 
        padding: 12px;
        font-size: 15px; 
      }
      .fa {
        font-size: 20px;
        cursor: pointer;
        user-select: none;
      }
      
      
.media li:hover{
    background-color:  rgb(48, 41, 61);
    color: rgb(239, 241, 247);
}
.b{
    font-size: 40px;
    font-family:fantasy;
    letter-spacing: 2px;
    color: rgb(241, 184, 229);
    text-shadow: 0 4px 10px rgb(90, 0, 50);
}
.card-title{
    font-size: 30px;
}
.card-text{
    font-size: 15px;
    margin: 2px;
}

.card-body .btn{
    height: 40px;
    width: 110px;
    margin: 20px;
    font-size: 20px;
}
.card-body .btn:hover{
    background-color: rgb(84, 141, 247);
    color: rgb(7, 7, 7);
}
.d-none{
    font-size: 15px;
    font-style: italic;
}